<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white shadow-sm">
            <div class="container-fluid">
                <button class="btn btn-outline-dark d-lg-none"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#sidebar"
                        aria-controls="sidebar">

                    <i class="bi bi-list"></i>

                </button>
                @Html.ActionLink("Parqueo Central Web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-dark" })
            </div>
        </nav>
    </header>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
            <h5 id="sidebarLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar">
            </button>
        </div>

        <div class="offcanvas-body p-0">
            <nav class="nav flex-column">
                <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Home")">
                    <i class="bi bi-house-door me-2"></i> Inicio
                </a>
                <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Vehiculos")">
                    <i class="bi bi-car-front me-2"></i> Vehículos
                </a>
                <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Espacios")">
                    <i class="bi bi-p-square me-2"></i> Espacios
                </a>
                <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Entrada","Movimientos")">
                    <i class="bi bi-arrow-bar-left me-2"></i> Entradas
                </a>
                <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Salida","Movimientos")">
                    <i class="bi bi-arrow-bar-right me-2"></i> Salidas
                </a>
                <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Movimientos")">
                    <i class="bi bi-clipboard-fill me-2"></i> Historial
                </a>
                <hr />

                <a class="nav-link px-3 py-3 text-danger fw-bold" href="@Url.Action("LogOut","Operador")">
                    <i class="bi bi-box-arrow-left me-2 text-danger"></i> Salir
                </a>
            </nav>
        </div>
    </div>

        <div class="container-fluid">

            <div class="row">

                <aside class="col-lg-2 d-none d-lg-block bg-white min-vh-100 p-0">

                    <nav class="nav flex-column p-3">

                        <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Home")">
                            <i class="bi bi-house-door me-2"></i> Inicio
                        </a>
                        <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Vehiculos")">
                            <i class="bi bi-car-front me-2"></i> Vehículos
                        </a>
                        <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Espacios")">
                            <i class="bi bi-p-square me-2"></i> Espacios
                        </a>
                        <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Entrada","Movimientos")">
                            <i class="bi bi-arrow-bar-left me-2"></i> Entradas
                        </a>
                        <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Salida","Movimientos")">
                            <i class="bi bi-arrow-bar-right me-2"></i> Salidas
                        </a>
                        <a class="nav-link px-3 py-3 text-dark fw-bold" href="@Url.Action("Index","Movimientos")">
                            <i class="bi bi-clipboard-fill me-2"></i> Historial
                        </a>
                        <hr />

                        <a class="nav-link px-3 py-3 text-danger fw-bold" href="@Url.Action("LogOut","Operador")">
                            <i class="bi bi-box-arrow-left me-2 text-danger"></i> Salir
                        </a>
                    </nav>

                </aside>

                <main class="col-12 col-lg-10 p-4 bg-light">

                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Parqueo Central Web</p>
                    </footer>
                </main>

            </div>

        </div>
        @Html.Partial("_Toast")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
